# === Configuración de Editores e IDEs ===
.idea/
.vscode/

# === Configuración Local ===
.env
.env.*
!.env.example

# === Entornos Virtuales de Python ===
venv/
.venv/
env/

# === Caché de Python (Archivos temporales compilados) ===
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# === Archivos del Sistema Operativo ===
.DS_Store
Thumbs.db